<section class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="oe_slogan">Website Product QR Code</h2>
            <h3 class="oe_slogan">Allows you to add website product URL information in QR code and we can print on label</h3>
        </div>
    </div>
    <div class='oe_span12'>
       1. Configure base URL.
    </div>
    <div class='oe_span12'>
        <img class="oe_picture oe_screenshot" src="base.jpg">
    </div>
    <div class='oe_span12'>
       2. QR Code child URL.
    </div>
    <div class='oe_span12'>
        <img class="oe_picture oe_screenshot" src="child.jpg">
    </div>
    <div class='oe_span12'>
       3. Products labels with QR code.
    </div>
    <div class='oe_span12'>
        <img class="oe_picture oe_screenshot" src="label.png">
    </div>
    <div class='oe_span12'>
       4. QR code in website.
    </div>
    <div class='oe_span12'>
        <img class="oe_picture oe_screenshot" src="website.jpg">
    </div>
    <div class='oe_span12'>
        <div class="oe_centeralign oe_mt32 oe_mb32">
            <a href="https://www.odoo.com/apps/modules/browse?search=webveer" class="oe_button oe_big oe_tacky">Our Other Apps</a>
        </div>
    </div>
    <div class='oe_span12'>
        <h1 align="center">
           If You Need Any Help Please Contact
        </h1>
        <h3 align="center">
            Email Id: dev.webveer@gmail.com
        </h3>
    </div>
    </div>
</section>