
<section class="container">

    <div class="row">
        <div class="col-md-12">
            <p class="mt32" style="font-size:18px">
                You have logged a long note and suddenly understand that there is a mistake. Some mistakes, such as misprints, are just irritating. Others, such as commercial offer peculiarities, might have critical consequences since they mislead you or your colleagues. Faced that situation Odoo users attach a new message. However, it is a bad option: everything becomes ambiguous, and contradictions disorient users. The proper solution is to update a current note, but to keep a clear history of changes for references. The app is the tool to address this challenge.
            </p>

            <p class="mt8" style="font-size:18px">
                The tool is compatible

                <span>with both Odoo Enterprise and Odoo Community.</span>
            </p>

            <ul class="nav nav-tabs">

            <li class="active" style="color:#428bca;">
                <a href="#features"
                   data-toggle="tab"
                   aria-expanded="true"
                >
                   Features
                </a>
            </li>


                <li>
                    <a href="#screenshots"
                       data-toggle="tab"
                       aria-expanded="true"
                    >
                       Screenshots
                    </a>
                </li>

                <li style="color:#428bca;">
                    <a href="#config"
                       data-toggle="tab"
                       aria-expanded="true"
                    >
                       Configuration
                    </a>
                </li>

            <li style="color:#428bca;">
                <a href="#support_info"
                   data-toggle="tab"
                   aria-expanded="true"
                >
                   Support

                   <span>&amp; Demo</span>

                </a>
            </li>

            </ul>


            <div class="tab-content mt16">

                <div class="tab-pane active" id="features">

                    <p class="mt32">

                        <div class="mb8">
                            <span class="fa fa-check-square-o fa-2x" style="color:#21B799;"/>
                            <span style="font-size:18px">
                                The tool works both for logged notes and for sent messages
                            </span>
                        </div>

                        <div class="mb8">
                            <span class="fa fa-check-square-o fa-2x" style="color:#21B799;"/>
                            <span style="font-size:18px">
                                Update body content any time from document threads, form channels, and from direct discussions
                            </span>
                        </div>

                        <div class="mb8">
                            <span class="fa fa-check-square-o fa-2x" style="color:#21B799;"/>
                            <span style="font-size:18px">
                                Editing is simple: push the 'pencil' button, introduce a change, and save it
                            </span>
                        </div>

                        <div class="mb8">
                            <span class="fa fa-check-square-o fa-2x" style="color:#21B799;"/>
                            <span style="font-size:18px">
                                Modified records are marked red: <strong>nobody is confused</strong>
                            </span>
                        </div>

                        <div class="mb8">
                            <span class="fa fa-check-square-o fa-2x" style="color:#21B799;"/>
                            <span style="font-size:18px">
                                Updates are kept in clear and easy-reached history. Refer it in case of arguable issues
                            </span>
                        </div>

                        <div class="mb8">
                            <span class="fa fa-check-square-o fa-2x" style="color:#21B799;"/>
                            <span style="font-size:18px">
                                Users are allowed to edit <strong>only own</strong> messages and notes
                            </span>
                        </div>

                        <div class="mb8">
                            <span class="fa fa-check-square-o fa-2x" style="color:#21B799;"/>
                            <span style="font-size:18px">
                                <i><strong><span style="color: #483d8b">New</span></strong></i> The tool now works also for live chat messages. Being changed such messages are marked red internally, while website visitors see only changed results 
                            </span>
                        </div>

                    </p>

                    <div class="alert alert-warning">
                        <span style="font-size:18px">
                            <i class="fa fa-book"/>
                            The module features depend on your Odoo version.
                            Please select required one on the top right of this page
                        </span>
                    </div>

                        <div class="col-md-12 mb32">
                            <img class="img img-responsive shadow"
                                 alt="Edit Odoo notes and messages"
                                 src="internal-note.png"
                            />
                        </div>

                        <div class="col-md-12 mb32">
                            <img class="img img-responsive shadow"
                                 alt="Messages&#39; and notes&#39; changes are distinguishable"
                                 src="updated-chatter.png"
                            />
                        </div>

                </div>


                <div class="tab-pane" id="screenshots">

                    <div class="col-md-12 mb32 alert alert-success">
                         <span style="font-size:18px">
                            Notes and messages to edit
                         </span>
                    </div>
                    <div class="col-md-12 mb32">
                        <img class="img img-responsive shadow"
                             alt="Edit Odoo notes and messages"
                             src="internal-note.png"
                        />
                    </div>

                    <div class="col-md-12 mb32 alert alert-success">
                         <span style="font-size:18px">
                            Thread before changes
                         </span>
                    </div>
                    <div class="col-md-12 mb32">
                        <img class="img img-responsive shadow"
                             alt="Click to change a message or note"
                             src="chatter-view.png"
                        />
                    </div>

                    <div class="col-md-12 mb32 alert alert-success">
                         <span style="font-size:18px">
                            Wizard to update comment (only body is editable)
                         </span>
                    </div>
                    <div class="col-md-12 mb32">
                        <img class="img img-responsive shadow"
                             alt="Odoo message body to modify"
                             src="to-update.png"
                        />
                    </div>

                    <div class="col-md-12 mb32 alert alert-success">
                         <span style="font-size:18px">
                            Thread after changes
                         </span>
                    </div>
                    <div class="col-md-12 mb32">
                        <img class="img img-responsive shadow"
                             alt="Messages&#39; and notes&#39; changes are distinguishable"
                             src="updated-chatter.png"
                        />
                    </div>

                    <div class="col-md-12 mb32 alert alert-success">
                         <span style="font-size:18px">
                            History of updates is kept for references
                         </span>
                    </div>
                    <div class="col-md-12 mb32">
                        <img class="img img-responsive shadow"
                             alt="Message changes history"
                             src="history-of-changes.png"
                        />
                    </div>

                    <div class="col-md-12 mb32 alert alert-success">
                         <span style="font-size:18px">
                            Users might modify only own messages and notes
                         </span>
                    </div>
                    <div class="col-md-12 mb32">
                        <img class="img img-responsive shadow"
                             alt="Only the author has rights to edit records"
                             src="users-rights.png"
                        />
                    </div>

                    <div class="col-md-12 mb32 alert alert-success">
                         <span style="font-size:18px">
                            Live Chat messages might be also changed
                         </span>
                    </div>
                    <div class="col-md-12 mb32">
                        <img class="img img-responsive shadow"
                             alt="LiveChat Messages"
                             src="website_chat_before_changes.png"
                        />
                    </div>

                    <div class="col-md-12 mb32 alert alert-success">
                         <span style="font-size:18px">
                            Updated LiveChat messages are marked as usual messages and notes do
                         </span>
                    </div>
                    <div class="col-md-12 mb32">
                        <img class="img img-responsive shadow"
                             alt="LiveChat nessages history of updates"
                             src="website_chat_after_changes.png"
                        />
                    </div>

                    <div class="col-md-12 mb32 alert alert-success">
                         <span style="font-size:18px">
                            Public visitors access only a final version of a message
                         </span>
                    </div>
                    <div class="col-md-12 mb32">
                        <img class="img img-responsive shadow"
                             alt="Change messages with public users"
                             src="website_chat_public.png"
                        />
                    </div>

                    <div class="col-md-12 mb32 alert alert-success">
                         <span style="font-size:18px">
                            Change messages from Odoo channels
                         </span>
                    </div>
                    <div class="col-md-12 mb32">
                        <img class="img img-responsive shadow"
                             alt="Odoo channels editable messages"
                             src="channel-view.png"
                        />
                    </div>

                    <div class="col-md-12 mb32 alert alert-success">
                         <span style="font-size:18px">
                            Even direct messages are possible to update
                         </span>
                    </div>
                    <div class="col-md-12 mb32">
                        <img class="img img-responsive shadow"
                             alt="Direct messages to update"
                             src="direct_messages.png"
                        />
                    </div>

                    <div class="col-md-12 mb32 alert alert-success">
                         <span style="font-size:18px">
                            Modified messages are distinguishable in Odoo Inbox
                         </span>
                    </div>
                    <div class="col-md-12 mb32">
                        <img class="img img-responsive shadow"
                             alt="Inbox edited messages"
                             src="inbox.png"
                        />
                    </div>

                </div>

                <div class="tab-pane" id="config">

                        <div class="mb8">

                            <h3>Installation Tips</h3>
                            <span style="font-size:18px">
                                In order the widget works correctly, re-start Odoo server. If you faced the error 'Qweb2: Template is not found': restart Odoo server > refresh the page (Ctrl+Shift+R)
                            </span>

                        </div>

                </div>

                <div class="tab-pane" id="support_info">

                    <div class="col-md-12">
                        <p style="font-size:18px;">
                            <a href="https://odootools.com/">OdooTools</a> is the team of developers and business analysts to help you extend Odoo potential. We have been communicating with end users to whom the software became the main business tool since 2012. As a result, we are proud of dozens of successful Odoo apps developed.  We are open for new ideas and challenges to create the best Odoo tools for business needs all over the world.
                        </p>

                        <p style="font-size:18px;">
                            This tool has been developed in cooperation with <a href="https://itlibertas.com/">IT Libertas</a> - one of the leading Odoo
                            integrators in Russia.
                        </p>

                    </div>

                    <div class="col-md-12 mb4 alert alert-success">
                         <span style="font-size:18px">
                            To contact us please register in our support system. Registration form is available by any link below. Registration doesn't take more than 30 seconds. No phone number or credit card are required
                         </span>
                    </div>

                    <div class="col-md-12"
                         style="background-color:#339966; padding:2%;"
                    >
                        <div style="font-size:25px;" class="text-center">
                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_14&amp;x_custom_2=x_option_2&amp;url_type_id=1"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-bug" style="color:white;"/> Bug Report
                            </a>
                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_14&amp;x_custom_2=x_option_2&amp;url_type_id=4"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-info-circle" style="color:white;"/> Raise Question
                            </a>
                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_14&amp;x_custom_2=x_option_2&amp;url_type_id=2"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-bookmark" style="color:white;"/> New Features
                            </a>
                        </div>
                        <div style="font-size:25px"  class="text-center">

                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_14&amp;x_custom_2=x_option_2&amp;url_type_id=3&amp;name=Demo Database for Testing"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-laptop" style="color:white;"/>  Request Demo Database (Live Preview)
                            </a>

                            <a href="https://odootools.com/my/tickets/newticket?&amp;x_custom_1=x_option_14&amp;x_custom_2=x_option_2&amp;url_type_id=5"
                               target="_blank"
                               style="color:white;padding:0 1% 0 1%"
                            >
                                <i class="fa fa-lightbulb-o" style="color:white;"/>  Share Module Ideas
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</section>

                